body {
    font-family: Arial, sans-serif;
    background-color: #2d202e;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column; /* Ajuste para exibir em coluna */
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.grid-container {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre a grid e o menu */
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffdc00;
}

.grid {
    display: inline-block;
    border: 2px solid #fff;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    max-width: 80%;
    max-height: 80%;
}

.cell.empty {
    background-color: #3f6d5da9;
}

.cell.flag {
    background-color: #0096A9;
}

.cell.club {
    background-color: #2ecc40;
}

.cell.guess {
    background-color: #39cccc;
}

.input-area {
    margin-top: 20px;
}

#player-input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#guess-btn, #flag-btn {
    background-color: #ff851b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#guess-btn:hover, #flag-btn:hover {
    background-color: #ff4136;
}

/* NAVBAR NO FINAL */
.navbar {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}
