* {
    box-sizing: border-box; /* Para incluir a borda e o padding na largura e altura total */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #001f3f; /* Cor de fundo azul escuro */
}

.container {
    display: grid; /* Usando grid para melhor organização */
    grid-template-columns: repeat(3, 1fr); /* 3 quadrados na primeira e segunda linha */
    grid-template-rows: repeat(2, 1fr) repeat(1, 1fr) auto; /* 2 linhas para os primeiros 6 quadrados + 1 linha para 4 quadrados + 1 linha auto para o quadrado grande */
    height: 80vh; /* Altura da área do container */
    width: 80vw; /* Largura da área do container */
    gap: 5px; /* Espaço reduzido entre os quadrados */
}

.quadrado {
    background-color: rgba(211, 211, 211, 0.5); /* Fundo transparente */
    border: 2px solid #7FDBFF; /* Borda azul clara */
    height: 80px; /* Altura fixa para todos os quadrados */
    width: 80px; /* Largura fixa para todos os quadrados */
}

/* Centraliza o quadrado da quarta linha */
.grande {
    grid-column: 2; /* O quadrado centralizado ocupa a segunda coluna */
    grid-row: 4; /* Garante que ele esteja na quarta linha */
    justify-self: center; /* Centraliza horizontalmente o quadrado na última linha */
    height: 80px; /* Altura fixa para o quadrado centralizado */
    background-color: rgba(211, 211, 211, 0.5); /* Fundo transparente */
}
